<%- include('partials/header.ejs') %>
   <div class="container">
      <% if(message!=""){%>
      <p class="text-center h1 text-danger "><%=message%></p>
      <% } %>
      <div class="float-right col-md-6">
         <img src="../assets/imgs/Products_Pics/<%=product.productID%>.<%= product.image.split('.')[1] %>"
              class="rounded-rectangle" style="width:500px; height:500px;" alt="<%=product.image%>">

      </div>
      <form style="margin-top: 50px; margin-bottom: 100px;" action="" method="POST" enctype="multipart/form-data">
         <div class="form-row">
            <div class="form-group col-md-10">
               <label for="category">Category:</label>
               <select id="category" name="category" class="form-control" required>
                  <option selected><%=product.category%></option>
                  <option>Iphone</option>
                  <option>Huawei</option>
                  <option>Samsung</option>
                  <option>Oppo</option>
                  <option>Sony</option>
                  <option>Others</option>
               </select>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-md-10">
               <label for="title">Title:</label>
               <input id="title" type="text" name="title" class="form-control" required placeholder="title" 
               value="<%=product.title%>"></input>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-md-10">
               <label for="description">Description:</label>
               <textarea cols="10" rows="3" id="description" name="description" class="form-control" 
                        required placeholder="description"><%=product.description%></textarea>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-md-10">
               <label for="quantity">Quantity:</label>
               <input id="quantity" type="number" name="quantity" class="form-control" 
               required placeholder="Quantity" value="<%=product.quantity%>"></input>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-md-10">
               <label for="price">Price:</label>
               <input id="price" type="number" name="price" class="form-control" 
               required placeholder="price" value="<%=product.price%>"></input>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-md-10">
               <label for="image">Product Image:</label>
               <input id="image" type="file" name="image" class="form-control" required placeholder="image"></input>
            </div> 
         </div><br>
         <div class="text-center">
            <button type="submit" class="btn btn-outline-primary"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Save A Product    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</button>
         </div>
      </form> 
   </div> 